<div class=" aligncenter">
	<div class=" aligncenter" style="text-align:center;"><a id="" href="orders/create" class="btn btn-primary aligncenter">Add Exhibitor</a></div>
</div>
<br />
<br />

<div class="col-md-12">
	<table ng-table="tableParams" show-filter="true" class="table table-bordered table-striped  table-hover">
		<tr ng-repeat="exhibitor in $data">
			<td data-title = "'Company'" sortable="'company'" filter="{ 'company': 'text' }">
				<span ng-if="!exhibitor.$edit">{{exhibitor.company}}</span>
                			<div ng-if="exhibitor.$edit"><input class="form-control" type="text" ng-model="exhibitor.company" /></div>
			</td>
			<td data-title="'Committed'" sortable="'committed'" filter="{ 'committed': 'text' }">
		                	<span ng-if="!exhibitor.$edit">{{exhibitor.committed}}</span>
		                	<div ng-if="exhibitor.$edit"><input class="form-control" type="checkbox" ng-model="exhibitor.committed" /></div>
		            </td>
		            <td data-title="'Contract'" sortable="'contract'" filter="{ 'contract': 'text' }" >
		                	<span ng-if="!exhibitor.$edit">{{exhibitor.contract}}</span>
		                	<div ng-if="exhibitor.$edit"><input class="form-control" type="checkbox" ng-model="exhibitor.contract" /></div>
		            </td>
		            <td data-title="'Forcast Revenue'" sortable="'forcast_revenue'" filter="{ 'forcast_revenue': 'text' }" >
		                	<span ng-if="!exhibitor.$edit">{{exhibitor.forcast_revenue}}</span>
		                	<div ng-if="exhibitor.$edit"><input class="form-control" type="text" ng-model="exhibitor.forcast_revenue" /></div>
		            </td>
		            <td data-title="'Payment'" sortable="'payment'" filter="{ 'payment': 'text' }">
		                	<span ng-if="!exhibitor.$edit">{{exhibitor.payment}}</span>
		                	<div ng-if="exhibitor.$edit"><input class="form-control" type="text" ng-model="exhibitor.payment" /></div>
		            </td>
		            <td data-title="'Payment method'"  sortable="'payment_method'" filter="{ 'payment_method': 'text' }">
		                	<span ng-if="!exhibitor.$edit">{{exhibitor.payment_method}}</span>
		                	<div ng-if="exhibitor.$edit"><input class="form-control" type="text" ng-model="exhibitor.payment_method" /></div>
		            </td>
		            <td data-title="'Deposit Due'" sortable="'deposit_due'" filter="{ 'deposit_due': 'text' }" >
		                	<span ng-if="!exhibitor.$edit">{{exhibitor.deposit_due}}</span>
		                	<div ng-if="exhibitor.$edit"><input class="form-control" type="text" ng-model="exhibitor.deposit_due" /></div>
		            </td>
		            <td data-title="'Total Due'" sortable="'total_due'" filter="{ 'total_due': 'text' }" >
		                	<span ng-if="!exhibitor.$edit">{{exhibitor.total_due}}</span>
		                	<div ng-if="exhibitor.$edit"><input class="form-control" type="text" ng-model="exhibitor.total_due" /></div>
		            </td>
		            <td data-title="'Amount Paid'" sortable="'amount_paid'" filter="{ 'amount_paid': 'text' }" >
		                	<span ng-if="!exhibitor.$edit">{{exhibitor.amount_paid}}</span>
		                	<div ng-if="exhibitor.$edit"><input class="form-control" type="text" ng-model="exhibitor.amount_paid" /></div>
		            </td>
		            <td data-title="'Patner level proposed'" sortable="'plevel_proposed'" filter="{ 'plevel_proposed': 'text' }">
		                	<span ng-if="!exhibitor.$edit">{{exhibitor.plevel_proposed}}</span>
		                	<div ng-if="exhibitor.$edit"><input class="form-control" type="text" ng-model="exhibitor.plevel_proposed" /></div>
		            </td>
		            <td data-title="'Partner Level'" sortable="'plevel'" filter="{ 'plevel': 'text' }">
		                	<span ng-if="!exhibitor.$edit">{{exhibitor.plevel}}</span>
		                	<div ng-if="exhibitor.$edit"><input class="form-control" type="text" ng-model="exhibitor.plevel" /></div>
		            </td>
		            <td data-title="'Booth #'" sortable="'booth'" filter="{ 'booth': 'text' }" >
		                	<span ng-if="!exhibitor.$edit">{{exhibitor.booth}}</span>
		                	<div ng-if="exhibitor.$edit"><input class="form-control" type="text" ng-model="exhibitor.booth" /></div>
		            </td>
		            <td data-title="'Actions'">
		                	<a ng-if="!exhibitor.$edit" href="" class="btn btn-default btn-xs" ng-click="exhibitor.$edit = true">Edit</a>
		                	<a ng-if="exhibitor.$edit" href="" class="btn btn-primary btn-xs" ng-click="exhibitor.$edit = false">Save</a>
		            </td>
		</tr>
	</table>
</div>


<!-- 
<table class="table table-bordered table-striped  table-hover table-full-width dataTable" d="sample_editable_1" aria-describedby="sample_1_info">
	<thead>		
		<tr>
			<th>Options</th>
			<th>ID</th>
			<th>Company</th>
			<th>Committed</th>
			<th>Contract</th>
			<th>Forcast Revenue</th>
			<th>Payment</th>
			<th>Payment Method</th>
			<th>Deposit Due</th>
			<th>Total Due</th>
			<th>Amount Paid</th>
			<th>Partner Level Proposed</th>
			<th>Partner Level</th>
			<th>Booth #</th>
		</tr>
	</thead>
	<tbody class="exhibitors">
		<tr ng-repeat="exhibitor in exhibitors">
			<td>
				<div class="btn-group">
					<button class="btn btn-default" ng-click=""><i class="fa fa-edit"></i></button>
					<button class="btn btn-danger" ng-click=""><i class="fa fa-trash-o"></i></button>
				</div>
			</td>
			<td>{{exhibitor.id}}</td>
			<td>{{exhibitor.company}}</td>
			<td>{{exhibitor.committed}}</td>
			<td>{{exhibitor.contract}}</td>
			<td>{{exhibitor.forcast_revenue}}</td>
			<td>{{exhibitor.payment}}</td>
			<td>{{exhibitor.payment_method}}</td>
			<td>{{exhibitor.deposy_due}}</td>
			<td>{{exhibitor.total_due}}</td>
			<td>{{exhibitor.amount_paid}}</td>
			<td>{{exhibitor.plevel_proposed}}</td>
			<td>{{exhibitor.plevel}}</td>
			<td>{{exhibitor.booth}}</td>
		</tr>
	</tbody>
</table>
 -->