<div class="row">
	<div class="col-md-12">
		<div class="col-md-4 col-xs-4">
			<div class="input-group col-md-6">
				<div class="input-group-btn">
					<button class="btn btn-primary"><i class="fa fa-search"></i></button>
				</div>
					<input  type="text" class="form-control" ng-model="filterText" />
				
			</div>
		</div>

		<span class="col-md-4 col-xs-4 align-center">
			<h1>Exhibitors</h1>
		</span>
		<div class="col-md-4 col-xs-4">
			<div class="btn-group pull-right">
				<button id="inc" ng-click="addItem()" href="orders/create" class="btn btn-primary aligncenter ">Add Exhibitor</button>
				
				<a href="#/exhibitors/trash" class="btn btn-danger"><i class="fa fa-search"></i> Trash</a>
			</div>
		</div>
		  
			
	</div>
</div>
<hr>
<!-- 

<td data-title="'Company'"  
				ng-dblclick="company = true"
				ng-model="company" 
				sortable="'company'"
				ng-mouseleave="company = false"
				id="company_{{exh.id}}">
					<p class="check-element animate-show" ng-hide="company">{{memb.company}}</p>
					<input style=""
						ng-change="update(exh.id, 'company', memb.company)"
						class="form-control check-element animate-show"
						type="text"
						ng-model="memb.company"
						ng-show="company">
			</td>
 -->
<div class="row">
	<div class='col-md-12'>
		<div ui-vew></div>
	</div>
</div>