<span class="align-center">
	<h1>{{title}}</h1>
</span>
<hr>
<div class="row">
	<div class="col-md-12">
		<div class="col-xs-6">
			<div class="input-group col-md-6">
				<div class="input-group-btn">
					<button class="btn btn-primary"><i class="fa fa-search"></i></button>
				</div>
				<input class="form-control" ng-model="search.$" >
				<div class="input-group-btn">
					<a href="#/exhibitors/trash" class="btn btn-danger"><i class="fa fa-search"></i> Trash</a>
				</div>
			</div>
		</div>

		<div class="col-xs-6">
			<button id="" ng-click="addExhibitor()" href="orders/create" class="btn btn-primary aligncenter pull-right">Add Exhibitor</button>
		</div>
	</div>
</div>

<br />
<div class="col-md-12">



	<table class="table table-bordered table-striped  table-hover table-full-width" id="noHighlight">
	<thead>		
		<tr>
			<th>Options</th>
			<th></th>
			<th>Company{{editComp}}</th>
			<th>Committed</th>
			<th>Contract</th>
			<th>Forcast Revenue</th>
			<th>Payment</th>
			<th>Payment Method</th>
			<th>Deposit Due</th>
			<th>Total Due</th>
			<th>Amount Paid</th>
			<th>Partner Level Proposed</th>
			<th>Partner Level</th>
			<th>Booth #</th>
			<th>Delete</th>
		</tr>
	</thead>
	
	<tbody class="exhibitors">
		<tr ng-repeat="(id, exh) in exhibitors | filter:search" ng-if="exh.soft == 0" ng-modal="editRow">
			<td id='id'>
				<a href="#/exhibitors/{{id}}" type="button" ng-model="checked" ng-click="checked = true" class="btn btn-primary" ><i class="fa fa-eye"></i></button>
			</td>
			<td>
				<label ng-if="exh.todos" class="label label-warning">Todos</label>
				<label ng-if="exh.notes" class="label label-info">Notes</label>
			</td>
			
			<td  ng-dblclick="ckComp = true" 
			ng-model="ckComp" 
			ng-mouseleave="ckComp = false">

				<p class="check-element animate-show" ng-hide="ckComp">{{exh.company}}</p>
				
					<input class="form-control check-element animate-show" type="text" ng-model="exh.company"
					ng-change="doneEditing(id, 'company', exh.company)" ng-show="ckComp">
			</td>
			<td  ng-dblclick="ckComm = true" ng-model="committed" ng-mouseleave="ckComm = false">

				<p class="check-element animate-show" ng-hide="ckComm">{{exh.committed}}</p>
				
				<input class="form-control check-element animate-show" type="text" ng-model="exh.committed"
					ng-change="doneEditing(id, 'committed', exh.committed)" ng-show="ckComm">
				
			</td>
			<td  ng-dblclick="ckContract = true" ng-model="ckContract" ng-mouseleave="ckContract = false">

				<p class="check-element animate-show" ng-hide="ckContract">{{exh.contract}}</p></div>

				
					<input class="form-control check-element animate-show" type="text" ng-model="exh.contract"
					ng-change="doneEditing(id, 'contract', exh.contract)" ng-show="ckContract">
				
			</td>
			<td  ng-dblclick="ckForcast = true" ng-model="ckForcast" ng-mouseleave="ckForcast = false">

				<p class="check-element animate-show" ng-hide="ckForcast">{{exh.forcast_revenue}}</p>

				<input class="form-control check-element animate-show" type="text" ng-model="exh.forcast_revenue"
					ng-change="doneEditing(id, 'forcast_revenue', exh.forcast_revenue)" ng-show="ckForcast">
				
			</td>
			<td  ng-dblclick="ckPayment = true" ng-model="ckPayment" ng-mouseleave="ckPayment = false">

				<p class="check-element animate-show" ng-hide="ckPayment">{{exh.payment}}</p>

				<input class="form-control check-element animate-show" type="text" ng-model="exh.payment"
					ng-change="doneEditing(id, 'payment', exh.payment)" ng-show="ckPayment">
			</td>
			<td  ng-dblclick="ckMethod = true" ng-model="ckMethod" ng-mouseleave="ckMethod = false">

				<p class="check-element animate-show" ng-hide="ckMethod">{{exh.payment_method}}</p>

				<input class="form-control check-element animate-show" type="text" ng-model="exh.payment_method"
					ng-change="doneEditing(id, 'payment_method', exh.payment_method)" ng-show="ckMethod">
			</td>
			<td  ng-dblclick="ckDeposit = true" ng-model="ckDeposit" ng-mouseleave="ckDeposit = false">

				<p class="check-element animate-show" ng-hide="ckDeposit">{{exh.deposit_due}}</p>

				<input class="form-control check-element animate-show" type="text" ng-model="exh.deposit_due"
					ng-change="doneEditing(id, 'deposit_due', exh.deposit_due)" ng-show="ckDeposit">
			</td>
			<td  ng-dblclick="ckDue = true" ng-model="ckDue" ng-mouseleave="ckDue = false">

				<p class="check-element animate-show" ng-hide="ckDue">{{exh.total_due}}</p>

				<input class="form-control check-element animate-show" type="text" ng-model="exh.total_due"
					ng-change="doneEditing(id, 'company', exh.total_due)" ng-show="ckDue">
			</td>
			<td  ng-dblclick="ckPaid = true" ng-model="ckPaid" ng-mouseleave="ckPaid = false">

				<p class="check-element animate-show" ng-hide="ckPaid">{{exh.amount_paid}}</p>

				<input class="form-control check-element animate-show" type="text" ng-model="exh.amount_paid"
					ng-change="doneEditing(id, 'amount_paid', exh.amount_paid)" ng-show="ckPaid">
			</td>
			<td  ng-dblclick="ckProposed = true" ng-model="ckProposed" ng-mouseleave="ckProposed = false" >

				<p class="check-element animate-show" ng-hide="ckProposed">{{exh.plevel_proposed}}</p>

				<input class="form-control check-element animate-show" type="text" ng-model="exh.plevel_proposed"
					ng-change="doneEditing(id, 'plevel_proposed', exh.plevel_proposed)" ng-show="ckProposed">
			</td>
			<td  ng-dblclick="ckPlevel = true" ng-model="ckPlevel" ng-mouseleave="ckPlevel = false">

				<p class="check-element animate-show" ng-hide="ckPlevel">{{exh.plevel}}</p>

				<input class="form-control check-element animate-show" type="text" ng-model="exh.plevel"
					ng-change="doneEditing(id, 'plevel', exh.plevel)" ng-show="ckPlevel">
			</td>
			<td  ng-dblclick="ckBooth = true" ng-model="ckBooth" ng-mouseleave="ckBooth = false">

				<p class="check-element animate-show" ng-hide="ckBooth">{{exh.booth}}</p>
				<input class="form-control check-element animate-show" type="text" ng-model="exh.booth"
					ng-change="doneEditing(id, 'booth', exh.booth)" ng-show="ckBooth">
			</td>
			<td>
				<button id="" ng-click="softDelete(id)" class="btn btn-danger"><i class="fa fa-trash-o "></i></button>

			</td>
		</tr>
	</tbody>
</table>
	

</div>
