<a href="#/exhibitors" class="back_link"><i class="fa fa-arrow-left "></i></a>
<span class="align-center">
	<h1 ng-if="exh.company">{{exh.company}}</h1>
	<h1 ng-if="!exh.company">Please Add Exhibitor's Company</h1>

</span>
<hr>
<div class="row">
	<div class="col-md-12" >
		<div class="col-md-3">
			<div class="well">
				<address>
					<h3><strong>{{exh.company}}</strong></h3>
					{{exh.address}} <br>
					{{exh.address2}} <br ng-if="exh.address2" >
					{{exh.city}}, {{exh.state}} {{exh.zip}} {{exh.country}}<br>
					<i ng-if="exh.phone" class="fa fa-phone"></i> &nbsp; {{exh.phone}} <br>
				</address>
			</div>
			<div class="well" >
				<h4>Contacts:</h4>
				<hr>
				<div class="row" ng-repeat="contact in AllContacts" ng-if="contact.primary !== 1">
					<div class="col-md-12">
						
							<h5><strong>{{contact.first}} {{contact.last}}</strong></h5>
							<h6 ng-if="contact.title">{{contact.title}}</h6>
							<i ng-if="contact.office" class="fa fa-phone"></i> &nbsp; {{contact.office}} <br>
							<i ng-if="contact.mobile" class="fa fa-mobile-phone"></i>  &nbsp; &nbsp;{{contact.mobile}} <br>
							<i ng-if="contact.mobile" class="fa fa-print"></i> &nbsp; {{contact.fax}} <br>
							<a href="mailto:#" ng-if="primary.email"><i class="fa fa-envelope"></i>  {{contact.email}}</a><br>
						
						<table class="" ng-if="contact.primary || contact.financial">
							<tr>
								<td style="padding-right:30px;"><strong>Contact Type:</strong></td>
								<td style="padding-right:20px;" ng-if="contact.primary">Primary</td>
								<td ng-if="contact.financial">Financial</td>
							</tr>
						</table>
					<hr>
					</div>
				</div>
			</div>
			<div class="btn-group">
				<button class="btn btn-danger" href="#/exhibitors"  ng-click="removeExhibitor()">Delete</button>
				
    				<div ng-show="selected">Selection from a modal: {{ selected }}</div>
				
			</div>
		</div>
		<div class="col-md-3">
			<div class="well">
				<span ng-if="exh.committed == 0" class="alert alert-danger">{{exh.company}} is Not Committed!!</span>
				<span ng-if="exh.committed == 1" class="alert alert-success">{{exh.company}} is Committed!!</span>
				
			</div>
		</div>
		<div class="col-md-6">
			<div class="col-md-12">
			<section id="todoapp" ng-controller="todoController">
				<header id="todo_header">
					<h1>todos</h1>
					<form id="todo-form" ng-submit="addTodo()">
						<input class="todo" id="new-todo" placeholder="What needs to be done?" ng-model="newTodo" autofocus>
					</form>
				</header>
				<section id="todo_main" ng-show="totalCount" ng-cloak>
					<input class="todo" id="todo_toggle-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)">
					<label for="todo_toggle-all">Mark all as complete</label>
					<ul id="todo-list">
						<li ng-repeat="(id, todo) in todos | todoFilter" ng-class="{completed: todo.completed, editing: todo == editedTodo}">
							<div class="view">
								<input class="toggle todo" type="checkbox" ng-model="todo.completed" ng-change="todos.$save(id)">
								<label ng-dblclick="editTodo(id)">{{todo.title}}</label>
								<button class="destroy todo" ng-click="removeTodo(id)"></button>
							</div>
							<form ng-submit="doneEditing(id)">
								<input class="edit todo" ng-model="todo.title" todo-escape="revertEditing(id)" todo-blur="doneEditing(id)" todo-focus="todo == editedTodo">
							</form>
						</li>
					</ul>
				</section>
				<footer id="todo_footer" ng-show="totalCount" ng-cloak>
					<span id="todo-count"><strong>{{remainingCount}}</strong>
						<ng-pluralize count="remainingCount" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
					</span>
					<ul id="todo_filters">
						<li>
							<a ng-class="{selected: location.path() == '{{urlpath}}/'} " href="#{{urlpath}}/">All</a>
						</li>
						<li>
							<a ng-class="{selected: location.path() == '{{urlpath}}/active'}" href="#{{urlpath}}/active">Active</a>
						</li>
						<li>
							<a ng-class="{selected: location.path() == '{{urlpath}}/completed'}" href="#{{urlpath}}/completed">Completed</a>
						</li>
					</ul>
					<button class="todo" id="todo_clear-completed" ng-click="clearCompletedTodos()" ng-show="completedCount">Clear completed ({{completedCount}})</button>
				</footer>
			</section>
			</div>
		
			<div class="col-md-12">
			<section id="noteapp" ng-controller="NoteCtrl">
				<header id="note_header">
					<h1>notes</h1>
					<form id="note-form" ng-submit="addNote()">
						<input class="note" id="new-note" placeholder="Make a note of it!" ng-model="newNote" autofocus>
					</form>
				</header>
				<section id="note_main" ng-show="totalCount" ng-cloak>
					<input class="note" id="note_toggle-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)">
					<label for="note_toggle-all">Mark all as complete</label>
					<ul id="note-list">
						<li ng-repeat="(id, note) in notes | noteFilter" ng-class="{completed: note.completed, editing: note == editedNote}">
							<div class="view">
								<input class="toggle note" type="checkbox" ng-model="note.completed" ng-change="notes.$save(id)">
								<label ng-dblclick="editNote(id)">{{note.title}}</label>
								<button class="destroy note" ng-click="removeNote(id)"></button>
							</div>
							<form ng-submit="doneEditing(id)">
								<input class="edit note" ng-model="note.title" note-escape="revertEditing(id)" note-blur="doneEditing(id)" note-focus="note == editedNote">
							</form>
						</li>
					</ul>
				</section>
				<footer id="note_footer" ng-show="totalCount" ng-cloak>
					<span id="note-count"><strong>{{remainingCount}}</strong>
						<ng-pluralize count="remainingCount" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
					</span>
					<ul id="note_filters">
						<li>
							<a ng-class="{selected: location.path() == '{{urlpath}}/'} " href="#{{urlpath}}/">All</a>
						</li>
						<li>
							<a ng-class="{selected: location.path() == '{{urlpath}}/active'}" href="#{{urlpath}}/active">Active</a>
						</li>
						<li>
							<a ng-class="{selected: location.path() == '{{urlpath}}/completed'}" href="#{{urlpath}}/completed">Completed</a>
						</li>
					</ul>
					<button class="note" id="note_clear-completed" ng-click="clearCompletedNotes()" ng-show="completedCount">Clear completed ({{completedCount}})</button>
				</footer>
			</section>
			</div>
			
		</div>


	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div google-chart chart="chart" style="{{chart.cssStyle}}"/>
	</div>
</div>
