<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
    Notes
    </h3>
  </div>
  <div class="panel-body">
		<div class="linklist" ng-controller="noteListEditCtrl" style="">
		  	<div class="col-md-12" style="padding:10px; background-color:#f1f1f1;">
		  		<button type="button" class="btn btn-default" ng-click="addLink()">
				    <i class="fa fa-plus"></i> Add
				  </button>
		    		<div ng-repeat="link in links | orderByPriority | reverse" style="padding-top:10px;" ng-mouseenter="note = true" ng-mouseleave="note = false">
					<div class="card-content {{link.color}}" style="padding:10px; " title="{{link.title}}">
				    		<h3><strong><input type="text" id="" placeholder="Title" ng-model="link.title" style="border:none; outline:none; width:100%;" ng-blur="update(link.$id, 'title', link.title)"></strong></h3>	    		
				    		<div contentEditable="true" id="{{link.$id}}" placeholder="Notes" ng-model="link.body" style="border:none; outline:none;" ng-change="update(link.$id, 'body', link.body)"></div>
				    		<br>
						<div class="card-footer " style="height:15px;" >

							<i ng-show="note" class="fa fa-trash-o pull-right check-element" ng-click="removeLink(link.$id)"></i>
							<span ng-show="note" class="btn-group check-element">
							<i class="fa fa-circle" style="color: #4fa950" ng-click="update(link.$id, 'color', 'success')"></i>
							<i class="fa fa-circle" style="color: #15aaff" ng-click="update(link.$id, 'color', 'primary')"></i>
							<i class="fa fa-circle" style="color: #ea4519" ng-click="update(link.$id, 'color', 'danger')"></i>
							<i class="fa fa-circle" style="color: #ef9e2a" ng-click="update(link.$id, 'color', 'warning')"></i>
							<i class="fa fa-circle" style="color: #98caf3" ng-click="update(link.$id, 'color', 'info')"></i>
							<i class="fa fa-circle" style="color: #ffffff" ng-click="update(link.$id, 'color', 'default')"></i>
							</span>
							
							    
						</div>
						
		    			</div>
		  		</div>
			</div>
		</div>
  </div>
</div>