<span class="align-center">
	<h1>Calendar</h1>
</span>
<hr>
<div class="row">
	<div class="col-md-12">
            	<div class="well">
                <div class="row-fluid">
                    <div class="col-md-4">
                        <h3>What?</h3>

                        <p>Attach Angular objects to a calendar.</p>

                        <h3>Why?</h3>

                        <p>For easy integration with scope objects.</p>

                        <p><button type="button" class="btn btn-primary" ng-click="addEvent()">
                         Add Event
                        </button></p>

                        <ul class="unstyled">
                            <li ng-repeat="e in events">
                                <div class="alert alert-info">
                                    <a class="close" ng-click="remove($index)"><i class="icon-remove"></i></a>
                                    <b> {{e.title}}</b> - {{e.start | date:"MMM dd"}}
                                </div>
                            </li>
                        </ul>

                    </div>

                    <div class="col-md-8">
                        <div class="alert-success calAlert"><h4>{{alertMessage}}</h4></div>
                        <div class="btn-toolbar">
                            <p class="pull-right lead">You can drag events below</p>
                            <div class="btn-group">
                                <button class="btn btn-info" ng-click="addRemoveEventSource(eventSources,eventSource)">Toggle an event source</button>
                            </div>
                        </div>
                        <div class="calendar" ng-model="eventSources" ui-calendar="uiConfig.calendar"></div>
                    </div>
                </div>
            </div>
                
</div>