<div ng-cloak ng-repeat="(k,v) in companies | orderByPriority | filter:filterText " class="company  card card-sm animated swing" style="min-height:550px;" >
      <flip horizontal>
      <flip-front>
        <div class="card-content" >

        <span class="align-center card-heading"
          ng-dblclick="company = true"
          ng-model="company" >
          <h4 id="{{v.company}}" class="check-element" ng-hide="company" ng-cloak>{{v.company}}</h4>
          <input style=""
            class="form-control check-element"
            type="text"
            ng-mouseleave="company = false"
            ng-model="v.company"
            ng-show="company">
        
        </span>
        <!-- ng-enter="update('company', v.company)" -->
        <div class="row  card-body">
          <div class="col-md-12">
            <span class="hidden"></span>
              <ul class="card-list">
                <li class="card-list-item" ng-dblclick="committed = true"
                  modal="committed"
                  ng-mouseleave="committed = false"
                  ng-cloak>
                  <span ng-if="v.committed == false"  class="badge badge-danger check-element" ng-hide="committed" ng-cloak>No</span> 
                  <span ng-if="v.committed == true"  class="badge badge-success check-element" ng-hide="committed" ng-cloak>Yes</span> 

                  <span  class=" check-element" ng-show="committed" ng-cloak> 
                    <select  ng-change="update('committed', v.committed)" class="form-control" ng-model="v.committed">
                      <option value="1">Committed</option>
                      <option value="0">Not Committed</option>
                    </select>
                  </span> 
                  
                  Committed
                </li>
                <li class="card-list-item" ng-dblclick="contract = true"
                  modal="contract"
                  ng-mouseleave="contract = false"
                  ng-cloak>
                  <span ng-if="v.contract == false"  class="badge badge-danger check-element" ng-hide="contract" ng-cloak>No</span> 
                  <span ng-if="v.contract == true"  class="badge badge-success check-element" ng-hide="contract" ng-cloak>Yes</span> 

                  <span  class=" check-element" ng-show="contract" ng-cloak> 
                    <select  ng-change="update('contract', v.contract)" class="form-control" ng-model="v.contract">
                      <option value="1">Contract</option>
                      <option value="0">Not Contract</option>
                    </select>
                  </span> 
                  
                  Contract
                </li>

                <li class="card-list-item" ng-dblclick="forcast_revenue = true"
                  modal="forcast_revenue"
                  ng-mouseleave="forcast_revenue = false"
                  ng-cloak>
                  
                  <span ng-if="v.forcast_revenue > 0.00" class="badge badge-success check-element" ng-hide="forcast_revenue" ng-cloak> {{v.forcast_revenue}} </span> 

                  <span  class=" check-element" ng-show="forcast_revenue" ng-cloak>
                    <input style=""
                      ng-enter="update('forcast_revenue', v.forcast_revenue)"
                      class="form-control check-element"
                      type="text"
                      ng-mouseleave="forcast_revenue = false"
                      ng-model="v.forcast_revenue"
                      ng-show="forcast_revenue">
                  </span> 
                  
                  Forcast Revenue
                </li>
                
                <li class="card-list-item" ng-dblclick="payment = true"
                  modal="payment"
                  ng-mouseleave="payment = false"
                  ng-cloak>
                  
                  <span class="badge badge-{{paymentExp.label}} check-element" ng-hide="payment" ng-cloak><i class="fa fa-{{paymentExp.icon}}"></i></span>
                  
                  
                  
                  Payment
                </li>
                <li ng-if="methodExp" class="card-list-item" ng-dblclick="payment_method = true"
                  modal="payment_method"
                  ng-mouseleave="payment_method = false"
                  ng-cloak>
                  
                  <span ng-if="v.amount_paid > 0.00" class="badge badge-success check-element" ng-hide="payment_method"> {{v.payment_method}} </span> 

                  <span  class=" check-element" ng-show="payment_method" ng-cloak>
                    <input style=""
                      ng-enter="update('payment_method', v.payment_method)"
                      class="form-control check-element"
                      type="text"
                      ng-mouseleave="payment_method = false"
                      ng-model="v.payment_method"
                      ng-show="payment_method">
                  </span> 
                  
                  Payment Method
                </li>
                
                <li class="card-list-item" ng-dblclick="deposit_due = true"
                  modal="deposit_due"
                  ng-mouseleave="deposit_due = false"
                  ng-cloak>
                  <span ng-if="v.deposit_due == false"  class="badge badge-danger check-element" ng-hide="deposit_due" ng-cloak><i class="fa fa-times"></i></span> 
                  <span ng-if="v.deposit_due == true"  class="badge badge-success check-element" ng-hide="deposit_due" ng-cloak><i class="fa fa-check"></i></span> 

                  <span  class=" check-element" ng-show="deposit_due" ng-cloak> 
                    <select  ng-change="update('deposit_due', v.deposit_due)" class="form-control" ng-model="v.deposit_due">
                      <option value="0">Not Paid</option>
                      <option value="2">Deposit paid</option>
                    </select>
                  </span> 
                  
                  Deposit Due
                </li>
                <li class="card-list-item" ng-dblclick="amount_paid = true"
                  modal="amount_paid"
                  ng-mouseleave="amount_paid = false"
                  ng-cloak>
                  
                  <span class="badge badge-default check-success" ng-hide="amount_paid" ng-cloak> {{v.amount_paid}} </span>

                  <span  class=" check-element" ng-show="amount_paid" ng-cloak>
                    <input style=""
                      ng-enter="update('amount_paid', v.amount_paid)"
                      class="form-control check-element"
                      type="text"
                      ng-model="v.amount_paid"
                      ng-show="amount_paid">
                  </span> 
                  Amount paid
                </li>
                <li class="card-list-item" ng-dblclick="plevel = true"
                  modal="plevel"
                  ng-mouseleave="plevel = false"
                  ng-cloak>
                  <span style="background-color:none;" class="badge badge-none check-element" ng-hide="plevel" ng-cloak> {{v.plevel}} </span> 

                  <span  class=" check-element" ng-show="plevel" ng-cloak> 
                    <select  ng-change="update('plevel', v.plevel)" class="form-control" ng-model="v.plevel">
                      <option value="None">None</option>
                      <option value="Exhibitor">Exhibitor</option>
                      <option value="Bronze">Bronze</option>
                      <option value="Sliver">Silver</option>
                      <option value="Gold">Gold</option>
                      <option value="Platinum">Platinum</option>
                    </select>
                  </span> 
                  
                  Partner Level
                </li>
                <li class="card-list-item" ng-dblclick="booth = true"
                  modal="booth"
                  ng-mouseleave="booth = false"
                  ng-cloak>
                  
                  <span  class="badge badge-none check-element" ng-hide="booth" ng-cloak> {{v.booth}} </span> 

                  <span  class=" check-element" ng-show="booth" ng-cloak>
                    <input style=""
                      ng-enter="update('booth', v.booth)"
                      class="form-control check-element"
                      type="text"
                      ng-mouseleave="booth = false"
                      ng-model="v.booth"
                      ng-show="booth">
                  </span> 
                  
                  Booth #
                </li>
              </ul>
            </div>
          </div>
          <div class="row card-footer">
            <div class="col-md-12">
              <a ng-href="#/companies/{{v.id}}"
                type="button" 
                ng-model="checked" 
                ng-click="checked = true" 
                class="btn btn-info btn-sm" >View</a>
              
              <button type="button" class="btn  btn-inverse btn-sm" 
                ng-if="v.todos"
                placement="top"
                title="Todos" 
                data-template="templates/companies/popovers/todos.html"       
                bs-popover>Todos</button>
                <button ng-if="v.notes" type="button" class="btn btn-default btn-sm" flip-toggle>Notes</button>
              
            </div>
          </div>
          

        </div>
      </flip-front>
      <flip-back>
      <div class="card-content" >
        <span class="card-heading"><h4 class="popover-title">Notes</h4></span>
        <div class="row  card-body">
          <div class="col-md-12">
              
              
              <!-- <div class="popover-content" ng-bind="content"></div> -->
              
            <ul  class="card-list">
              <li class="card-list-item" ng-repeat="note in v.notes">{{note.title}}</li>
            </ul>
          </div>
        </div>
        <div class="row card-footer">
          <div class="col-md-12">
            <button class="btn btn-default btn-sm" flip-toggle><i class="fa fa-arrow-left"></i></button>
            <a href="#/edit-companies/{{k}}" class="btn btn-warning btn-sm"><i class="fa fa-cogs"></i> Edit</a>
          </div>
        </div>
      </div>
      </flip-back>
      
      </flip>
    </div>