<!-- <div class="hero-unit">
  <h5>Editing ... {{company.company}} </h5>
  <div class="controls-group">
    <div class="controls">
      <label>Company
        <input type=text class="input" ng-model="company.company" />
      </label>        
    </div>
    <div class="controls">
      <label>Forcast Revenue
        <input type=text class="input" ng-model="company.forcast_revenue" />
      </label>        
    </div>    
    <button class="btn" ui-sref="list">Close</button>
  </div>
</div> -->

{{ company.company }}