<a ui-sref="dashboard" class="back_link"><i class="fa fa-arrow-left "></i></a>
<span class="align-center">
	<h1 >{{exh.company}}</h1>
	<h1 ng-if="!exh.company">Please Add Exhibitor's Company</h1>

</span>
<hr>
<div class="row">
	<div class="col-md-12" >
		<div class="col-md-3">
			<div class="row"  >
					<div class="col-md-12" ng-controller="contactController">
						<div class="panel panel-default">
							<div class="panel-heading">
								<div class="panel-title">Contacts</div>
							</div>
							<div class="pane-body">
							  	<div class="col-md-12" style="padding:10px; background-color:#f1f1f1;">
							  		<button type="button" class="btn btn-default" ng-click="addContact()">
									    <i class="fa fa-plus"></i> Add
									  </button>
							    		<div ng-repeat="(id, link) in contacts  " style="padding-top:10px;" ng-mouseenter="note = true" ng-mouseleave="note = false">
										<div class="card-content {{link.color}}" style="padding:10px; " title="enable edit mode">
									    		<h3><strong><input type="text" id="" placeholder="Name" ng-model="link.name" style="border:none; outline:none; width:100%;" ng-change="update(id, 'name', link.name)"></strong></h3>	    		
									    		<p><input type="text" id="" placeholder="Title" ng-model="link.title" style="border:none; outline:none; width:100%;" ng-change="update(id, 'title', link.title)"></p>	    		
									    		<p><input type="text" id="" placeholder="Office" ng-model="link.office" style="border:none; outline:none; width:100%;" ng-change="update(id, 'office', link.office)"></p>	    		
									    		<p><input type="text" id="" placeholder="Mobile" ng-model="link.mobile" style="border:none; outline:none; width:100%;" ng-change="update(id, 'mobile', link.mobile)"></p>	    		
									    		<p><input type="text" id="" placeholder="Fax" ng-model="link.fax" style="border:none; outline:none; width:100%;" ng-change="update(id, 'fax', link.fax)"></p>	    		
									    		<p><input type="text" id="" placeholder="Email" ng-model="link.email" style="border:none; outline:none; width:100%;" ng-change="update(id, 'email', link.email)"></p>	    		
									    		
									    		
									    		<br>
											<div class="card-footer " style="height:15px;" >

												<i ng-show="note" class="fa fa-trash-o pull-right check-element" ng-click="removeContact(id)"></i>
												<span ng-show="note" class="btn-group check-element">
												<i class="fa fa-circle" style="color: #4fa950" ng-click="update(id, 'color', 'success')"></i>
												<i class="fa fa-circle" style="color: #15aaff" ng-click="update(id, 'color', 'primary')"></i>
												<i class="fa fa-circle" style="color: #ea4519" ng-click="update(id, 'color', 'danger')"></i>
												<i class="fa fa-circle" style="color: #ef9e2a" ng-click="update(id, 'color', 'warning')"></i>
												<i class="fa fa-circle" style="color: #98caf3" ng-click="update(id, 'color', 'info')"></i>
												<i class="fa fa-circle" style="color: #ffffff" ng-click="update(id, 'color', 'default')"></i>
												</span>
												
												    
											</div>
											
							    			</div>
							  		</div>
								</div>
							</div>
						</div>
					</div>
				
				
			</div>
			
		</div>
		<div class="col-md-4">
			
			<div class="panel panel-default" ng-controller="notesController">
				<div class="panel-heading">
					<div class="panel-title">Notes</div>
				</div>
				<div class="pane-body">
				  	<div class="col-md-12" style="padding:10px; background-color:#f1f1f1;">
				  		<button type="button" class="btn btn-default" ng-click="addNote()">
						    <i class="fa fa-plus"></i> Add
						</button>
				    		<div ng-repeat="link in notes | orderByPriority | reverse" style="padding-top:10px;" ng-mouseenter="note = true" ng-mouseleave="note = false">
							<div ng-if="link.title"  class="card-content {{link.color}}" style="padding:10px; " title="enable edit mode">
						    		<div contentEditable="true" id="{{link.title}}" ng-model="link.title" style="border:none; outline:none; font-size:18px; font-weight:bold; margin-bottom:10px;"  ng-change="update(link.$id, 'title', link.title)"><div placeholder></div></div>	    		
						    		<div contentEditable="true" id="{{link.$id}}" placeholder="Notes" ng-model="link.body" style="border:none; outline:none; " ng-change="update(link.$id, 'body', link.body)"></div>
						    		<br>

								<div class="card-footer " style="height:15px;" >

									<i ng-show="note" class="fa fa-trash-o pull-right check-element" ng-click="removeNote(link.$id)"></i>
									<i ng-show="note" class="fa fa-arrow-up pull-right check-element" ng-click="moveDown(link.$id)"></i>
									<i ng-show="note" class="fa fa-arrow-down pull-right check-element" ng-click="moveUp(link.$id)"></i>
									<span ng-show="note" class="btn-group check-element">
									<i class="fa fa-circle" style="color: #4fa950" ng-click="update(link.$id, 'color', 'success')"></i>
									<i class="fa fa-circle" style="color: #15aaff" ng-click="update(link.$id, 'color', 'primary')"></i>
									<i class="fa fa-circle" style="color: #ea4519" ng-click="update(link.$id, 'color', 'danger')"></i>
									<i class="fa fa-circle" style="color: #ef9e2a" ng-click="update(link.$id, 'color', 'warning')"></i>
									<i class="fa fa-circle" style="color: #98caf3" ng-click="update(link.$id, 'color', 'info')"></i>
									<i class="fa fa-circle" style="color: #ffffff" ng-click="update(link.$id, 'color', 'default')"></i>
									</span>
									
									    
								</div>
								
				    			</div>
				  		</div>
				  	</div>
				</div>
			</div>
			

		</div>
		<div class="col-md-5">
			<div class="col-md-12" style="padding-top:60px;">
			<section id="todoapp" ng-controller="todoController">
				<header id="todo_header">
					<h1>todos</h1>
					<form id="todo-form" ng-submit="addTodo()">
						<input class="todo" id="new-todo" placeholder="What needs to be done?" ng-model="newTodo" autofocus>
					</form>
				</header>
				<section id="todo_main" ng-show="totalCount" ng-cloak>
					<input class="todo" id="todo_toggle-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)">
					<label for="todo_toggle-all">Mark all as complete</label>
					<ul id="todo-list">
						<li ng-repeat="(id, todo) in todos | todoFilter" ng-class="{completed: todo.completed, editing: todo == editedTodo}">
							<div class="view">
								<input class="toggle todo" type="checkbox" ng-model="todo.completed" ng-change="todos.$save(id)">
								<p><label ng-dblclick="editTodo(id)">{{todo.title}}</label></p>
								<button class="destroy todo" ng-click="removeTodo(id)"></button>
							</div>
							<form ng-submit="doneEditing(id)">
								<input class="edit todo" ng-model="todo.title" todo-escape="revertEditing(id)" todo-blur="doneEditing(id)" todo-focus="todo == editedTodo">
							</form>
						</li>
					</ul>
				</section>
				<footer id="todo_footer" ng-show="totalCount" ng-cloak>
					<span id="todo-count"><strong>{{remainingCount}}</strong>
						<ng-pluralize count="remainingCount" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
					</span>
					<ul id="todo_filters">
						<li>
							<a ng-class="{selected: location.path() == '{{urlpath}}/'} " href="#{{urlpath}}/">All</a>
						</li>
						<li>
							<a ng-class="{selected: location.path() == '{{urlpath}}/active'}" href="#{{urlpath}}/active">Active</a>
						</li>
						<li>
							<a ng-class="{selected: location.path() == '{{urlpath}}/completed'}" href="#{{urlpath}}/completed">Completed</a>
						</li>
					</ul>
					<button class="todo" id="todo_clear-completed" ng-click="clearCompletedTodos()" ng-show="completedCount">Clear completed ({{completedCount}})</button>
				</footer>
			</section>
			</div>
			
		</div>


	</div>
</div>
